<div class="header-wrapper">
    <div class="header-container">
        <div class="title">
            <img src="assets/images/main_logo.png" alt="">
            <span>Verdi vision</span>
        </div>
        <div class="tabs">
            <span class="tab" routerLink="/main" routerLinkActive="active">главная</span>
            <span class="tab" routerLink="/projects" routerLinkActive="active">Работы</span>
            <span class="tab" routerLink="/team" routerLinkActive="active">Команда</span>
            <span class="tab" routerLink="/contacts" routerLinkActive="active">Контакты</span>
        </div>
    </div>
</div>