.wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.main {
    background-image: url("src/assets/images/main-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.not-main {
    background-color: #111111;
}